body, header {
 background-color : black;
}

header{
  color: whitesmoke;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  font-family: Times;
  padding-bottom: 15px
}

#imgDalek {
  height:20%;
  width: 20%;
  display: block;
  margin:auto;
}

#subtitle{
  color:white;
  text-align: center;
  padding: 10px;
}
